<div class="header">
    <a href="/profile" class="profile-btn">
        {{#if user.avatar}}
            <img src="{{user.avatar}}" alt="Perfil" class="profile-img">
        {{else}}
            <img src="/img/default.jpg" alt="">
        {{/if}}Perfil
    </a>
    <a href="javascript:history.back()" class="back-btn"><ion-icon name="arrow-back-outline"></ion-icon> Volver </a>
    <h1 class="tituloHome">Ventana de Administrador - Bienvenido {{user.name}} {{user.lastName}}</h1>
    <a href="/api/sessions/logout" id="logout-btn">
        <ion-icon name="log-out-outline"></ion-icon> Cerrar sesión
    </a>
</div>
<main class="botonesNavegacion">
    <section class="buttom-list">
        <a href="/realTimeProducts" class="botonNavegacion">Administrar Productos</a>
        <a href="/realTimeCategories" class="botonNavegacion">Administrar Categorías</a>
        <a href="/registerAdmin" class="botonNavegacion">Registrar Administrador</a>
    </section>
    <section class="users-list">
        {{#each users}}
            <li class="user-item">
                
                
                    {{#if this.avatar}}
                        <img src="{{this.avatar}}" alt="Perfil" class="profile-img">
                    {{else}}
                        <img src="/img/default.jpg" alt="">
                    {{/if}}
                
                <article class="info-user-item">
                    <h2 class="user-name">{{this.name}} {{this.lastName}}</h2>
                    <p class="user-email"><strong>Email:</strong> {{this.email}}</p>
                    <p class="user-last-connection"><strong>Última conexión:</strong> {{formatDate this.last_connection}} <strong>a las </strong>{{formatTime  this.last_connection}}</p>
                    <p class="user-rol"><strong>Rol:</strong> {{this.rol}}</p>
                </article>
                <ul class="documents-user-item">
                    <h4 class="user-documents"><strong>Documentos:</strong></h4>
                    {{#each this.documents}}
                        <li class="item-document">
                            <strong><p>{{capitalize this.reason}}: </p></strong>
                            <p>{{this.name}}</p>
                        </li>
  
                    {{/each}}
                </ul>
            </li>
        {{/each}}
    </section>

    <section class="pagination">
        <p class="current-page">Página actual: {{currentPage}}</p>

        <section class="controls">
            {{#if hasPrevPage}}
                <a href="/adminView?page={{prevPage}}&limit={{limit}}" class="prev-page">Página anterior</a>
            {{else}}
                <span class="no-prev-page">No hay página anterior</span>
            {{/if}}

            {{#if hasNextPage}}
                <a href="/adminView?page={{nextPage}}&limit={{limit}}" class="next-page">Página siguiente</a>
            {{else}}
                <span class="no-next-page">No hay página siguiente</span>
            {{/if}}
        </section>

        <p class="total-pages">Total de páginas: {{totalPages}}</p>
    </section>
</main>