<header class="header">
    <article class="img-container">
        <img src="./img/logo_ecommerce.png" alt="logo">
        <h1 class="nombre-marca">Meow <br> Matrix</h1>
    </article>
    
    <section class="buttom-primary">
        {{#if user}}
            {{#isAdmin user}}
                <a href="/adminView" class="admin-btn">
                    <ion-icon name="settings-outline"></ion-icon>
                    <p>Ventana de Administrador</p>
                </a>
            {{/isAdmin}}

            {{#isPremium user}}
                <a href="/myProducts" class="admin-btn">
                    <ion-icon name="settings-outline"></ion-icon>
                    <p>Mis Productos</p>
                </a>
            {{/isPremium}}

            {{#isNotPremium user}}
                <a class="premium-btn" onclick="upgradeToPremium(event, {{user._id}})">
                    <ion-icon name="star-outline"></ion-icon>
                    <p>Solicitar Premium</p>
                </a>
            {{/isNotPremium}}
        {{/if}}

        <a href="/api/sessions/logout" id="logout-btn">
            <ion-icon name="log-out-outline"></ion-icon> 
            <p>Cerrar sesión</p>
        </a>
        <a href="javascript:history.back()" class="back-btn">
            <ion-icon name="arrow-back-outline"></ion-icon> 
            <p>Volver</p>
        </a>
    </section>

    <a href="/profile" class="profile-btn">
        {{#if user.avatar}}
            <img src="{{user.avatar}}" alt="Perfil" class="profile-img">
        {{else}}
            <img src="/img/default.jpg" alt="">
        {{/if}}
    </a>
</header>

<main class="central-section">
    {{#if cart.products}}
        <ul class="cart-list">
            <li class="cart-titles">
                <div class="column"></div>
                <div class="column"><h3>Nombre</h3></div>
                <div class="column"><h3>Cantidad</h3></div>
                <div class="column"><h3>Precio</h3></div>
                <div class="column"></div>
            </li>
            {{#each cart.products}}
                <li class="cart-item" data-cart-id="{{lookup ../cart '_id'}}" data-product-id="{{this.product._id}}">
                    <div class="column">
                        <div class="product-img-container">
                            <img src="img/{{this.product.thumbnails}}" alt="{{this.product.name}}" class="product-img">
                        </div>
                    </div>
                    <div class="column">
                        <h4>{{this.product.name}}</h4>
                        <p>{{this.product.description}}</p>
                    </div>
                    <div class="column">
                        <div class="quantity-controls">
                            <button class="decrement">-</button>
                            <span class="quantity">{{this.quantity}}</span>
                            <button class="increment">+</button>
                        </div>
                    </div>
                    <div class="column">
                        <span class="price">${{formatPrice this.product.price}}</span>
                    </div>
                    <div class="column">
                        <form class="remove-from-cart-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="button" class="remove-from-cart-btn" data-cart-id="{{lookup ../cart '_id'}}" data-product-id="{{this.product._id}}">Eliminar del carrito</button>
                        </form>
                    </div>
                </li>
            {{/each}}
        </ul>
        <div class="delete_buttom">
            <button type="button" class="remove-all-from-cart-btn" data-cart-id="{{cart._id}}">Eliminar todo del carrito</button>
        </div>
        <div id="cart-summary" class="cart-summary">
            <p class="total-items">Total de productos: {{cart.products.length}}</p>
            <p class="total-price">Total a pagar: ${{formatPrice calculateTotalPrice}}</p>
        </div>
        <div class="checkout-container">
            <a href="/api/carts/{{cart._id}}/purchase" class="checkout-btn">Finalizar Compra</a>  
        </div>
    {{else}}
        <h2 class="title-empty-cart">Tu carrito está vacío</h2>
        <img src="/img/gatito_carrito.png" alt="foto de carrito vacío" class="img-empty-cart">
    {{/if}}
</main>
<script src="/js/cart.js"></script>
