
<header>
    <a href="/profile" class="profile-btn">
    <ion-icon name="person-circle-outline"></ion-icon> Perfil</a>
    <h1 class="product-title">{{product.name}}</h1>
    <a href="javascript:history.back()" class="back-btn"><ion-icon name="arrow-back-outline"></ion-icon> Volver </a>
</header>
<div class="product-details">
    
    <img src="/img/{{product.thumbnails.[0]}}" alt="{{product.name}}" class="product-img">
    
    <div class="product-info">
        <p class="product-description">{{product.description}}</p>
        <p class="product-price"> <strong>Precio: </strong> ${{product.price}}</p>
        <p class="product-stock"><strong>Stock: </strong>  {{product.stock}} unidades</p>
        <p class="product-category"><strong>Categoría: </strong>  {{product.category.nameCategory}}</p>
        
        <!-- Formulario para agregar al carrito -->
        <form action="/api/carts/current/product/{{product._id}}" method="POST" class="add-to-cart-form">
            <input type="hidden" name="productId" value="{{product._id}}">
            <button type="submit" class="add-to-cart-btn">Agregar al carrito</button>
        </form>
    </div>
</div>