<header>


    <h1>Perfil de Usuario</h1>

    <a href="javascript:history.back()" class="back-btn"><ion-icon name="arrow-back-outline"></ion-icon> Volver </a>

    

</header>

<main>
    <section class="avatar-section">
        {{#if user.avatar}}
            <img src="{{ user.avatar }}" alt="Avatar">
        {{else}}
            <img src="/img/default.jpg" alt="Avatar por defecto">
        {{/if}}
        <div>
            <h2>Información de Perfil</h2>
            <p><strong>Nombre:</strong> {{ user.name }} {{ user.lastName }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Rol:</strong> {{ user.rol }}</p>
        </div>
        <!-- Formulario para cargar el avatar -->
        <form action="/api/users/upload-avatar" method="POST" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <input type="file" id="avatar" name="avatar">
                <label for="avatar" class="file-input-label">Seleccionar Imagen</label>
            </div>
            <button type="submit">Subir Avatar</button>
        </form>
    </section>

    <section>
        <h2>Documentación Para Ser Premium</h2>
        <form action="/api/users/{{ user._id }}/documents" method="POST" enctype="multipart/form-data">
            <div class="file-input-wrapper">
                <input type="file" id="identification" name="identification">
                <label for="identification" class="file-input-label">Identificación</label>
            </div>
            <div class="file-input-wrapper">
                <input type="file" id="proofOfAddress" name="address">
                <label for="proofOfAddress" class="file-input-label">Comprobante de domicilio</label>
            </div>
            <div class="file-input-wrapper">
                <input type="file" id="bankStatement" name="bankStatement">
                <label for="bankStatement" class="file-input-label">Comprobante de estado de cuenta</label>
            </div>
            <button type="submit">Subir Documentos</button>
        </form>
    </section>

</main>