<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Productos en tiempo real</title>
        <link rel="stylesheet" href="./css/realTimeProducts.css">
    </head>
    <body>
        <h1 class="tituloHome">Lista de productos en tiempo real</h1>

        <!-- Aquí puedes agregar un formulario para agregar nuevos productos -->
        <form class="formulario" id="addProductForm" action="/realTimeProducts" method="post">
            <input type="text" id="productName" placeholder="Nombre del producto">
            <input type="text" id="productDescription" placeholder="Descripción del producto">
            <input type="number" id="productPrice" placeholder="Precio">
            <input type="text" id="productCode" placeholder="Codigo del producto">
            <input type="number" id="productStock" placeholder="Stock">
            <input type="text" id="productCategory" placeholder="Categoría">
            <button type="button" id="addProductButton">Agregar Producto</button>
        </form>

        <ul class="realTimeProducts" id="productList">
            {{#each products}}
            <li data-product-id="{{id}}">
                <h2>{{name}}</h2>
                <p>{{description}}</p>
                <p><strong>Precio:</strong> ${{price}}</p>
                <p><strong>Stock:</strong> {{stock}} unidades</p>
                <p><strong>Categoría:</strong> {{category}}</p>
                <img src="img/{{thumbnails}}" alt="{{name}}">
                
                <!-- Agrega un botón para eliminar el producto -->
                <button class="botonDelete" data-product-id="{{id}}">Eliminar</button>
            </li>
            {{/each}}
        </ul>

        
    </body>
</html>